<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/mi-nyeonghwang/Desktop/ymkang/WorkAndDevelopment/201501Lec_GamePhysics/GPcode01_03_KinematicParticleExplosion/GPcode0103_Xcode/GPcode0103_Xcode.xcodeproj</string>
</dict>
</plist>
