# power point and hwp
*.hwp
*.ppt
*.pptx

# VC project related files
*.suo
*.sdf
*.idb
*.tlog
*.log
*.vcxproj
*.vcxproj.filters
*.lastbuildstate
*.ilk
*.pdb
*.sdf
*.sln
*.manifest
*.res
*.cache
*.rc
*.user
*.ipch

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
