<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/ymkang/myWork_iMac/Mac_2_Lectures/Lecture_GamePhysics/GPcode00_Timer/Timer.xcodeproj</string>
</dict>
</plist>
